<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:theme="@style/Base.Theme.DaOnGil">
        <activity
            android:name=".emergency.EmergencyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".emergency.PharmacyMapActivity"
            android:exported="false" />
        <activity
            android:name=".emergency.EmergencyMapActivity"
            android:exported="false" />
        <activity
            android:name=".concerntype.ConcernTypeActivity"
            android:exported="false" />
        <activity
            android:name=".bookmark.BookmarkActivity"
            android:exported="false" />
        <activity
            android:name=".myreview.MyReviewActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteUserActivity"
            android:exported="false" />
        <activity
            android:name=".myinfo.MyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".splash.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".keyword.KeywordSearchActivity"
            android:exported="false" />
    </application>

</manifest>